deploy/gh-runner/github-runner-gpu
deploy/gh-runner/github-runner-secret.yaml

deploy/mcp/github-server-secret.yaml

.env
.env.*
*sublime-workspace
.vagrant/
.venv
creds.yml
admin.conf
credentials
packer_cache
*.client.conf
kubeconfig
*.iso
*.qcow2
output/*
*local*
go.work.sum

build/*
test-project/*
./bin/
node_modules
__debug*
test-template
~
dist
.npmrc

workspace/*
workspace-*/*
.stfolder
test-task.json
task.json
