---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: my-reforge-ai
  name: my-reforge-ai-workbench
  namespace: my-reforge-ai
spec:
  automountServiceAccountToken: false
  hostUsers: false
  containers:
    - command:
        - /bin/bash
        - -c
        - /project/deploy/workbench/workbench-start.sh codex
        # - sleep 3600
      image: ghcr.io/spigell/codex-workbench:v0.58.0-1b5604
      name: codex-workbench
      resources:
        limits:
          cpu: '2'
          memory: 2Gi
        requests:
          cpu: '0.2'
          memory: 1Gi
      securityContext:
        runAsUser: 1000
        runAsNonRoot: true
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        seccompProfile:
          type: RuntimeDefault
      volumeMounts:
        - mountPath: /home/ubuntu/.codex
          name: codex
        - mountPath: /project
          name: project
        - mountPath: /tmp
          name: tmp
      workingDir: /project
    - command:
        - /bin/bash
        - -c
        - /project/deploy/workbench/workbench-start.sh gemini
        # - sleep 3600
      image: ghcr.io/spigell/google-gemini-workbench:v0.15.2-92ca1b
      name: gemini-workbench
      resources:
        limits:
          cpu: '2'
          memory: 4Gi
        requests:
          cpu: '0.2'
          memory: 2Gi
      securityContext:
        runAsUser: 1000
        runAsNonRoot: true
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        seccompProfile:
          type: RuntimeDefault
      volumeMounts:
        - mountPath: /home/ubuntu/.gemini
          name: gemini
        - mountPath: /project
          name: project
        - mountPath: /tmp
          name: tmp
      workingDir: /project
    - command:
        - /bin/bash
        - -c
        - "touch /tmp/gemini.log && /usr/local/bin/gemini-telemetry --file /tmp/gemini.log"
      image: ghcr.io/spigell/google-gemini-workbench:0.13-2d74c0
      name: gemini-telemetry-fetcher
      resources:
        limits:
          cpu: '0.2'
          memory: 256Mi
        requests:
          cpu: '0.1'
          memory: 128Mi
      securityContext:
        runAsUser: 1000
        runAsNonRoot: true
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        seccompProfile:
          type: RuntimeDefault
      volumeMounts:
        - mountPath: /tmp
          name: tmp
  enableServiceLinks: false
  terminationGracePeriodSeconds: 4
  volumes:
    - name: project
      persistentVolumeClaim: { claimName: dragonfish-shared }
    - name: codex
      persistentVolumeClaim:
        claimName: codex-home
    - name: gemini
      persistentVolumeClaim:
        claimName: gemini-home
    - emptyDir: {}
      name: tmp
